[project]
	description = Packaging content for zaqar (distgit)
[access "refs/*"]
  read = group zaqar-distgit-core
  owner = group zaqar-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group zaqar-distgit-core
	label-Code-Review = -2..+2 group zaqar-distgit-ptl
	label-Verified = -2..+2 group zaqar-distgit-ptl
	label-Workflow = -1..+1 group zaqar-distgit-core
	label-Workflow = -1..+1 group zaqar-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group zaqar-distgit-ptl
	read = group zaqar-distgit-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group zaqar-distgit-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
